/*первичный цвет текста #000000;*/
/* цвет заголовка #00A092; */
/*вторичный цвет текста #FFFFFF;*/
/*первычный цвет фона #FFFFFF;*/
/* вторичный цвет фона #20113D; */

:root {
  --primary-text-color: #000000;
  --title-text-color: #00a092;
  --secondary-text-color: #ffffff;
  --background-color-primary: #ffffff;
  --background-color-secondary: #ffffff;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 0;
}

.container {
  width: 1400px;
  /* padding-left: 15px;
  padding-right: 15px; */
  margin: 0 auto;
  outline: 5px solid black;
}

ul {
  list-style: none;
}

.logo {
  width: 96px;
  height: 50px;

  margin-right: 503px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
}

.container.header-container {
  display: flex;
  justify-content: space-between;
}

.page-header,
.header-container {
  background: orange;
}
.main-nav,
.main-nav_list,
.social-link_list {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

/* .main-nav {
    justify-content: space-between;
} */

.main-nav .item {
  text-transform: uppercase;
}

.main-nav .item:not(:last-child) {
  margin-right: 48.25px;
}

.main-nav_list {
  padding: 0;
  margin-top: 42px;
  margin-bottom: 41px;
  margin-right: 67px;
}

.social-link_item:not(:last-child) {
  margin-right: 30px;
  padding: 0;
}

.social-link_list {
  padding: 0;
}
.link {
  display: flex;

  width: 40px;
  height: 40px;
  color: #ffffff;

  border-radius: 50%;
  border: none;

  justify-content: center;
  align-items: center;
}

.link.youtube {
  background-color: red;
}

.link.instagram {
  background: #c13584;
}

.link.facebook {
  background: #3b5998;
}

.link-icon {
  fill: currentColor;
}

.youtube:hover,
.instagram:hover,
.facebook:hover {
  fill: orange;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect (0 0 0 0);
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
}
*/

/* Section main */
/* HERO */

.background-container {
  background-image: url(../../assets/images/hero-background.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-bottom: 150px;
}

.hero {
  padding-top: 129px;
  background-image: url(../../assets/images/hero-background.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-bottom: 150px;
}

.hero-title {
  font-weight: 800;
  font-size: 82px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #00a092;
  margin-bottom: 50px;
  margin-top: 0;
  padding: 0;
}

.hero-text {
  font-size: 18px;
  line-height: 1.5;

  color: #000000;
  margin-bottom: 50px;
  padding: 0;
  margin-top: 0;
}

.view-cam {
  width: 240px;
  height: 74px;
  background: #f58021;
  border-radius: 5px;
  border-color: transparent;
  margin-bottom: 338px;

  /* padding-left: 29.86px;
  padding-top: 26px;
  padding-bottom: 26px; */
}

.view-cam_text {
  margin-right: 10px;
}
.view-cam::after {
  display: inline-flex;
  content: '';
  background-image: url('./../../assets/icons/arrow-button.svg');
  height: 22px;
  width: 24.8px;

  position: relative;
  top: 5px;
  left: 5px;
}

/* Welcome section */

.welcome-section {
  margin-bottom: 150px;
}
.welcome-item {
  display: flex;
}
.welcome-title {
  font-weight: 600;
  font-size: 54px;
  line-height: 1.2;
  text-transform: uppercase;

  color: #00a092;
  margin-right: 40px;
  margin-top: 0;
  padding: 0;
}

.welcome-text {
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
  margin-right: 40px;
  margin-top: 0;
  margin-bottom: 108px;
  padding: 0;
}

.welcome-image {
  width: 800px;
  height: 531px;
  margin-bottom: 40px;
}

.placeholder-container {
  height: 159px;
  outline: 1px solid orange;
}
.work-title {
  font-weight: 600;
  font-size: 54px;
  line-height: 1.2;
  text-transform: uppercase;

  color: #00a092;
  margin-top: 64px;
  margin-bottom: 50px;
}

.work-text {
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
  padding: 0;
  margin: 0;
}

.work-container {
  display: flex;
}

.work-section {
  margin-bottom: 100px;
}

.image-work {
  margin-right: 40px;
  margin-bottom: 150px;
}

.donation-container {
  display: flex;
  align-items: center;
  background: #20113d;
  margin-bottom: 136px;
}

.donation-title {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  text-transform: uppercase;

  color: #ffffff;
}

.donation-text {
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}

.quick-donate {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.3;
  color: #ffffff;
}

.donation__form {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid #ffffff;
  border-radius: 5px;
  margin-right: 100px;
}

.donation__form-amount {
  width: 240px;
  height: 74px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;

  padding-left: 14px;

  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  outline: none;

  border-right-color: transparent;
  background: transparent;
}

::-webkit-input-placeholder {
  color: #ffffff;
}

.donation__form-submit {
  width: 80px;
  height: 74px;
  border: 0;
  outline: none;
  border-radius: 5px;

  background: transparent;
  background: #cd6326;
  background-image: url(./../../assets/icons/arrow-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.donation__form-submit {
  margin: 0;
  padding: 0;

  background: #cd6326;

  font-size: 2.3rem;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: #f7f7f7;

  background-image: url(./../../assets/icons/arrow-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.placeholder {
  height: 500px;
}

.meet-pets {
  text-align: center;
}

.meet-pets .title {
  font-weight: 600;
  font-size: 54px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #00a092;
  margin-bottom: 50px;
  padding: 0;
}

.meet-pets .text {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.3;
  text-align: center;
  color: #000000;
  margin-bottom: 100px;
  padding: 0;
}

.our-pets {
  display: flex;
}
.pets-set {
  display: flex;
  flex-wrap: wrap;
  background: teal;
  padding: 0;
  margin: 0;
}

.container.meet-pets::after {
  display: block;
  content: '';
  background-image: url('./../../assets/icons/arrow-left.svg');
  width: 185px;
  height: 60px;
  display: inline-block;
  /* vertical-align: bottom; */
  align-items: center;
  margin-bottom: 30px;
}

.pets-item {
  display: flex;
  position: relative;
  padding: 0;
  /* width: calc((100%-80px) / 3); */
  margin-right: 40px;
  margin-bottom: 40px;

  width: 440px;
  height: 747px;
  outline: 1px solid black;

  background-color: #20113d;
  background-repeat: no-repeat;
  object-fit: scale-down;

  background-size: 478px 436px;

  flex-direction: column;
  justify-content: center;
}

.pets-description {
  position: absolute;
  top: 75%;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

.pets-item:nth-child(3n) {
  margin-right: 0px;
}
.pets-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* alternative */
/* .pets-set {
  display: flex;
  flex-wrap: wrap;
  background: teal;
  padding: 0;
  margin: -20px;
}

.pets-item {
  padding: 0;
  width: calc((100%-80px) / 3); 
  margin: 20px;

  width: 440px;
  height: 747px;
  outline: 1px solid black;
}
 */
.pets-item .title {
  color: #ffffff;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.3;

  /* position: absolute;

  top: 65%;
  left: 30%; */
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.pets-item_text {
  padding: 0;
  margin: 0;
  /* position: absolute; */

  /* top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);  */
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}

.pets-item.panda {
  background-image: url(./../../assets/images/panda.jpg);
}

.pets-item.lemur {
  background-image: url(./../../assets/images/lemur.jpg);
}
.pets-item.gorilla {
  background-image: url(./../../assets/images/gorilla.jpg);
}
.pets-item.eagles {
  background-image: url(./../../assets/images/eagles.jpg);
}
.pets-item.coala {
  background-image: url(./../../assets/images/coala.jpg);
}
.pets-item.lion {
  background-image: url(./../../assets/images/lion.jpg);
}
